<style>
    main{background:#378947;margin:0}
.form{width:430px;height:570px;background:#e6e6e6;border-radius:20px;
box-shadow:0 0 80px -0px #000;margin:calc(60vh - 310px) auto;padding:50px 50px;max-width:calc(2000vw - 50px);
box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h3{margin:10px 0;
padding-bottom:20px;
width:290px;
color:#78788c;
solid #78788c
}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;
font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2}
</style>