header{
    background:#5AE17A;
    color:#2CAE4B;
}
.main{
    background:#2CAE4B;
}
.color1{
    background:#34495e;
}

aside{
    background:#c0395b;
}

footer{
    background:#c0395lb;
    color:#f3498f;
}
body{
    background:#5AE17A;
    color:#5AE17A;
}

body{
    background:#c0395lb;
    color:2c3e50;
}